@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1729397686887') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 25px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yonghu:before {
  content: "\e633";
}

.icon-sixin:before {
  content: "\e67b";
}

